_auth = bml0aW5wYW53YXIwODAyQGdtYWlsLmNvbTpBS0NwOG55WVBoWm5DMUFxTFVjMWZieXJ2QzVZQmtRb1ZSd3VzWGFWZ2gyTUJiRkhBS3h1VzhNSmNiSEFqTlVkYjhIdDNCNWFv
email = nitinpanwar0802@gmail.com
always-auth = true
registry = https://polyorg.jfrog.io/artifactory/api/npm/npm/
strict-peer-dependencies=false
